<form
    hx-post="/form"
    hx-target="#data"
    hx-on::after-request="this.reset()"
>
    <label for="name">Name:</label>
    <input type="text" name="name">

    <label for="item_type">Item type:</label>
    <select id="item_type" name="item_type">
        {%- for t in item_type %}
        <option value="{{t}}">{{t}}</option>
        {%- endfor %}
    </select>

    <br/>
    <br/>

    <button type="submit" class="text-white bg-blue-600 px-6 py-3 font-bold rounded-lg">
        Add new name
    </button>
</form>
